<p>Welcome to AREA</p>
<p>To validate your account please press the following button</p>
<button>
    <a href="<%= redirectURL %>">Validate Account</a>
</button>
<p>If the button doesn't work please go to the following link: <a href="<%= redirectURL %>"><%= redirectURL %></a></p>